<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
  </head>
  <body>
    {{> header}}
    <p>
      If you need help pls contact 1-800-JESUS2K
    </p>

    {{> footer}}

  </body>
</html>
